.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.total-price {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 1rem;
  font-size: 20px;
}

.logout-btn {
  padding: 10px;
  background-color: orangered;
  border: none;
}

.logout-btn:hover {
  background-color: rgb(0, 6, 59);
}
